################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Minor.DagXX.XXX1/Minor.DagXX.XXX1
*.pdb
